@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes hero-gradient-animation {
    0% {
        --s-start-0: 8.392121895570533%;
        --s-end-0: 38.584065253664996%;
        --x-0: 93%;
        --c-0: hsla(217.59493670886076, 100%, 30%, 1);
        --y-0: 63%;
        --x-1: 33%;
        --c-1: hsla(0, 0%, 0%, 1);
        --s-start-1: 8.392121895570533%;
        --s-end-1: 22.10878124098502%;
        --y-1: -7%;
        --y-2: 7%;
        --c-2: hsla(0, 0%, 0%, 1);
        --s-start-2: 8.392121895570533%;
        --s-end-2: 22.558651527792346%;
        --x-2: 84%;
        --c-3: hsla(0, 0%, 0%, 1);
        --s-start-3: 8.392121895570533%;
        --s-end-3: 22.558651527792346%;
        --x-3: 14%;
        --y-3: 5%;
        --x-4: 7%;
        --s-start-4: 8.392121895570533%;
        --s-end-4: 22.558651527792346%;
        --y-4: 96%;
        --c-4: hsla(0, 0%, 0%, 1);
        --c-5: hsla(0, 0%, 0%, 1);
        --x-5: 93%;
        --s-start-5: 8.392121895570533%;
        --s-end-5: 22.558651527792346%;
        --y-5: 90%;
        --y-6: 61%;
        --c-6: hsla(279.7894736842105, 67%, 27%, 1);
        --s-start-6: 8.392121895570533%;
        --s-end-6: 39.67138181429644%;
        --x-6: 3%;
        --y-7: 59%;
        --s-start-7: 8.392121895570533%;
        --s-end-7: 49.58090142552271%;
        --c-7: hsla(279.7894736842105, 67%, 27%, 1);
        --x-7: 94%;
        --x-8: 48%;
        --s-start-8: 8.392121895570533%;
        --s-end-8: 34.815367581495366%;
        --y-8: 63%;
        --c-8: hsla(217.68844221105527, 100%, 39%, 1);
        --s-start-9: 8.392121895570533%;
        --s-end-9: 31.77166380372925%;
        --x-9: 96%;
        --c-9: hsla(217.59493670886076, 100%, 30%, 1);
        --y-9: 78%;
    }

    50% {
        --s-start-0: 12.892043731642234%;
        --s-end-0: 42.94837818044209%;
        --x-0: 2%;
        --c-0: hsla(217.59493670886076, 100%, 30%, 1);
        --y-0: 59%;
        --x-1: 42%;
        --c-1: hsla(0, 0%, 0%, 1);
        --s-start-1: 8.392121895570533%;
        --s-end-1: 41.69445156991687%;
        --y-1: 10%;
        --y-2: 29%;
        --c-2: hsla(0, 0%, 0%, 1);
        --s-start-2: 8.392121895570533%;
        --s-end-2: 20.488815899465003%;
        --x-2: 75%;
        --c-3: hsla(0, 0%, 0%, 1);
        --s-start-3: 8.392121895570533%;
        --s-end-3: 30.099844327777923%;
        --x-3: 5%;
        --y-3: 16%;
        --x-4: 36%;
        --s-start-4: 8.392121895570533%;
        --s-end-4: 24.59566937006635%;
        --y-4: 91%;
        --c-4: hsla(0, 0%, 0%, 1);
        --c-5: hsla(0, 0%, 0%, 1);
        --x-5: 70%;
        --s-start-5: 8.392121895570533%;
        --s-end-5: 24.59566937006635%;
        --y-5: 91%;
        --y-6: 73%;
        --c-6: hsla(279.7894736842105, 67%, 27%, 1);
        --s-start-6: 9%;
        --s-end-6: 26.825849058644888%;
        --x-6: 54%;
        --y-7: 76%;
        --s-start-7: 9%;
        --s-end-7: 49.05074977970796%;
        --c-7: hsla(279.7894736842105, 67%, 27%, 1);
        --x-7: 57%;
        --x-8: 11%;
        --s-start-8: 9;
        --s-end-8: 26.166345747226664%;
        --y-8: 53%;
        --c-8: hsla(217.68844221105527, 100%, 39%, 1);
        --s-start-9: 9;
        --s-end-9: 22.152460022684956%;
        --x-9: 70%;
        --c-9: hsla(217.59493670886076, 100%, 30%, 1);
        --y-9: 70%;
    }

    100% {
        --x-1: 76%;
        --c-1: hsla(0, 0%, 0%, 1);
        --s-start-1: 8.392121895570533%;
        --s-end-1: 59.32232816638693%;
        --y-1: -3%;
        --y-2: 18%;
        --c-2: hsla(0, 0%, 0%, 1);
        --s-start-2: 8.392121895570533%;
        --s-end-2: 28.52989037790774%;
        --x-2: 97%;
        --c-3: hsla(0, 0%, 0%, 1);
        --s-start-3: 8.392121895570533%;
        --s-end-3: 28.52989037790774%;
        --x-3: 42%;
        --y-3: 18%;
        --x-4: 66%;
        --s-start-4: 8.392121895570533%;
        --s-end-4: 28.52989037790774%;
        --y-4: 95%;
        --c-4: hsla(0, 0%, 0%, 1);
        --c-5: hsla(0, 0%, 0%, 1);
        --x-5: 46%;
        --s-start-5: 8.392121895570533%;
        --s-end-5: 28.52989037790774%;
        --y-5: 92%;
        --y-6: 16%;
        --c-6: hsla(279.7894736842105, 67%, 27%, 1);
        --s-start-6: 24.72064437400016%;
        --s-end-6: 47.490620328604024%;
        --x-6: 102%;
        --y-7: 52%;
        --s-start-7: 10.200720718860145%;
        --s-end-7: 50.46456494288142%;
        --c-7: hsla(279.7894736842105, 67%, 27%, 1);
        --x-7: 22%;
        --s-start-9: 6.294132688184733%;
        --s-end-9: 20.79106730744014%;
        --x-9: 97%;
        --c-9: hsla(217.5, 100%, 31%, 1);
        --y-9: 51%;
    }
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 38.584065253664996%
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 93%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(217.59493670886076, 100%, 30%, 1)
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 63%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 33%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22.10878124098502%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: -7%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22.558651527792346%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 84%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22.558651527792346%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 14%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22.558651527792346%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 96%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --c-5 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --x-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 93%
}

@property --s-start-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22.558651527792346%
}

@property --y-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 90%
}

@property --y-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 61%
}

@property --c-6 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(279.7894736842105, 67%, 27%, 1)
}

@property --s-start-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 39.67138181429644%
}

@property --x-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 3%
}

@property --y-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 59%
}

@property --s-start-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 49.58090142552271%
}

@property --c-7 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(279.7894736842105, 67%, 27%, 1)
}

@property --x-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 94%
}

@property --x-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 48%
}

@property --s-start-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 34.815367581495366%
}

@property --y-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 63%
}

@property --c-8 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(217.68844221105527, 100%, 39%, 1)
}

@property --s-start-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 31.77166380372925%
}

@property --x-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 96%
}

@property --c-9 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(217.59493670886076, 100%, 30%, 1)
}

@property --y-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 78%
}

.gradient-hero {
    --x-0: 93%;
    --c-0: hsla(217.59493670886076, 100%, 30%, 1);
    --y-0: 63%;
    --x-1: 33%;
    --c-1: hsla(0, 0%, 0%, 1);
    --y-1: -7%;
    --y-2: 7%;
    --c-2: hsla(0, 0%, 0%, 1);
    --x-2: 84%;
    --c-3: hsla(0, 0%, 0%, 1);
    --x-3: 14%;
    --y-3: 5%;
    --x-4: 7%;
    --y-4: 96%;
    --c-4: hsla(0, 0%, 0%, 1);
    --c-5: hsla(0, 0%, 0%, 1);
    --x-5: 93%;
    --y-5: 90%;
    --y-6: 61%;
    --c-6: hsla(279.7894736842105, 67%, 27%, 1);
    --x-6: 3%;
    --y-7: 59%;
    --c-7: hsla(279.7894736842105, 67%, 27%, 1);
    --x-7: 94%;
    --x-8: 48%;
    --y-8: 63%;
    --c-8: hsla(217.68844221105527, 100%, 39%, 1);
    --x-9: 96%;
    --c-9: hsla(217.59493670886076, 100%, 30%, 1);
    --y-9: 78%;
    ;
    background-color: hsla(262, 82%, 3%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4)), radial-gradient(circle at var(--x-5) var(--y-5), var(--c-5) var(--s-start-5), transparent var(--s-end-5)), radial-gradient(circle at var(--x-6) var(--y-6), var(--c-6) var(--s-start-6), transparent var(--s-end-6)), radial-gradient(circle at var(--x-7) var(--y-7), var(--c-7) var(--s-start-7), transparent var(--s-end-7)), radial-gradient(circle at var(--x-8) var(--y-8), var(--c-8) var(--s-start-8), transparent var(--s-end-8)), radial-gradient(circle at var(--x-9) var(--y-9), var(--c-9) var(--s-start-9), transparent var(--s-end-9));
    animation: hero-gradient-animation 15s linear infinite alternate-reverse;
    background-blend-mode: normal, normal, normal, normal, normal, normal, normal, normal, normal, normal;
    height: 100vh;
    width: 100vw;
    z-index: -999;
    
    
    pointer-events: none;
}